<!DOCTYPE html>
<html>
    <head>
        <title>John Salley</title>
        <style>
            
            h1 {
                font-size: 28px;
                color: #000;
            }
        </style>
    </head>
    <body>
        <h1>Hello Rails - John Salley Demo</h1>
		
		<ul><li>
			<%= link_to "Simple Threaded Comments", comments_path %> 
		</li></ul>
    </body>
</html>
